* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('https://wallbox.ru/wallpapers/main2/201728/149967134259632b2e954590.59416256.jpg');
  /* background-color: rgb(3, 1, 22); */
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}